body, html {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

.bg {
  /* The image used */
  background-image: url("../img/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.chat-message{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  min-height: 48px;
}

.chat-message .avatar .avatar__img {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 4px;
    left: 4px;
    border-radius: 50%;
}

.chat-container > .chat-message {
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
    max-width: 50%;
}

.chat-container > .chat-message.sender {
    align-self: flex-start;
    background-color: cornflowerblue;
    color: #fff;
}

.chat-bubble.sender {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24,201,255,1)), to(rgba(5,230,195,1)));
    background-image: linear-gradient(rgba(24,201,255,1), rgba(5,230,195,1));
    background-size: 100% 100%;
    background-attachment: fixed;
}

.chat-message .avatar::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}

.chat-message .bubble::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 16px;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 5px 0 0;
    border-top-right-radius: 20px;
    box-shadow: 8px 0 0 #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation: scaleUp 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: scaleUp 100ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
